django==5.0.4
djangorestframework==3.15.1
django-cors-headers==4.3.1
djangorestframework-simplejwt==5.3.1
dj-rest-auth==6.0.0
Pillow==10.3.0
minio==7.2.5
django-storages[boto3]==1.14.2
drf-yasg==1.21.7